* {
    margin: 0;
    padding: 0;
}

body {
  background-color: #edede9;
}

div, h1, h2, p, a {
    font-family: "Agbalumo", serif;
    overflow: hidden;
}

.reveal {
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    display: block;
}


@keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  

  @media (max-width: 980px) {
    .grid-container {
        padding: 0;
    }
    .content {
        left: 5.2em;
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .content .text {
        display: none;
    }
}