:root {
  --purple: #9c89b8;
  --dark-pink: #f0a6ca;
  --light-pink: #efc3e6;
  --gray-pink: #f0e6ef;
  --light-purple: #b8bedd;
  --text-color: #1F1F1F;
  --bg-color: #edede9;
}
* {
    margin: 0;
    padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

div, h1, h2, p, a {
  font-family: "Agbalumo", serif;
  overflow: hidden;
}

.reveal {
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1);
  display: block;
}

.reveal-delay {
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 3s;
  display: block;
}

@keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  } 
  
  @keyframes pulse {
    0% {
      transform: scale(1.05);
    }

    50% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1.05);
    }
  }

  .loading {
    background:black;
    color:white;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 2;
 }
 
  .loading span {
    position: relative;
    display: flex;
    font-size: 80px;
    color: var(--dark-pink);
    text-transform: uppercase;
    animation: 3s infinite flip; /* infinite as it's scalable */
    /* animation-delay: calc(2s * var(--i)); */
    text-shadow: 1px 18px 6px #ac96cc96,
    1px 22px 10px #ac96cc57, 1px 25px 35px #ac96cc4b,
    1px 30px 60px #ac96cc93;
  }
 
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg);
    }
  }

  @keyframes textAnim {
    0% {
      text-shadow:
        1px 1px #9c89b8,
        2px 2px #9c89b8,
        3px 3px #9c89b8,
        4px 4px #9c89b8,
        5px 5px #9c89b8,
        6px 6px #9c89b8,
        7px 7px #9c89b8,
        8px 8px #9c89b8,
        9px 9px #9c89b8,
        10px 10px #9c89b8;
    }
    25% {
      text-shadow:none;
    }
  }

  .upDown {
    animation: positionUpDown 2s infinite 3s;
    transition: all 1s ease-in;
    position: relative;
  }

  @keyframes positionUpDown {
    0% {
      top: 0;
    }
    25% {
      top: 4px;
    }
    50% {
      top: 8px;
    }
    75% {
      top: 4px;
    }
    100% {
      top: 0;
    }
  }

  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

  @media (max-width: 980px) {
    .grid-container {
        padding: 0;
    }
    .content {
        left: 5.2em;
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .content .text {
        display: none;
    }
}