* {
    margin: 0;
    padding: 0;
}

div, h1, h2, p, a {
    font-family: "Agbalumo", serif;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }